<dialog id="<%= modalID %>" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold"><%= modalTitle %></h3>
    <p class="py-4"><%= modalMessage %></p>
    <a id="txUrl" href="" target="_blank" class="max-w-full text-wrap"
      >Show Txn on Explorer</a
    >
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
