<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div
    class="drawer-content flex flex-col items-center w-full h-fit my-auto gap-4 justify-center"
  >
    <!-- Page content here -->
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      Open drawer
    </label>
    <h1 class="w-full text-center">Connect Wallet and Issue a Idea Stamp</h1>
    <button
      id="connect-wallet"
      onclick="connectWallet()"
      class="btn btn-accent mt-2"
    >
      Connect wallet
    </button>
    <div class="w-96 m-auto">
      <form id="issue-idea-form" class="flex flex-col mx-auto w-full gap-2">
        <input
          type="text"
          id="title"
          placeholder="Title"
          required
          class="input input-bordered w-full"
        />
        <input
          type="text"
          id="inventor"
          placeholder="Inventor"
          required
          class="input input-bordered w-full"
        />
        <textarea
          id="description"
          placeholder="Description"
          class="input input-bordered w-full h-24"
        ></textarea>
        <input
          type="text"
          id="fileUrl"
          placeholder="File URL"
          required
          class="input input-bordered w-full"
        />
        <button type="submit" class="w-fit mx-auto mt-2 btn btn-primary">
          Issue Idea
        </button>
      </form>
    </div>
    <%- include('./partials/modal.ejs' , { "modalID" : "txn_success","modalTitle": "Idea Issued Succesfully", "modalMessage":"Congratulations Your Idea is Now Protected and  Preserved !!"} ) %>
    <%- include('./partials/loader.ejs' , { "modalID" : "loader_modal" }) %>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-2"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      <li><a href="/home">Home</a></li>
      <li><a href="/home/add-new">Add new Idea</a></li>
      <li><a href="/home/getdetails">Get Idea details</a></li>
    </ul>
  </div>
</div>

<script src="/js/addnew.js"></script>
