<div
  class="flex p-14 overflow-hidden items-center justify-center min-h-[85vh]"
  style="
    background-image: url(https://cdn.pixabay.com/photo/2020/06/04/11/10/bulb-5258341_1280.jpg);
    background-position: center;
    background-size: cover;
  "
>
  <div class="card glass w-96">
    <form class="card-header" id="login-form">
      <div class="card-body">
        <h2 class="card-title ml-1">LOGIN</h2>

        <div class="form-control gap-2">
          <label class="input input-bordered flex items-center gap-2">
            <%- include('./svgs/avatar.ejs') %>
            <input type="email" class="grow" name="email" placeholder="Email" />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            <%- include('./svgs/key.ejs') %>
            <input
              type="password"
              name="password"
              placeholder="Your Super Secret Password"
              class="grow"
            />
          </label>
        </div>

        <div class="card-actions flex items-center justify-center">
          <button type="submit" class="btn btn-primary btn-wide">Login</button>
        </div>

        <div class="divider">or</div>

        <a class="link w-full text-center" href="/auth/register">
          Create New Account
        </a>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
